@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.global-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.x-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.items-center{
    align-self: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.concentric {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-clip: content-box;
    padding: 6px;
    background-color: #3DCFD3;
    border: 6px solid #3DCFD3;
}

a{
    text-decoration: none;
}